$black1: #414a4c;
$black2: #333333;
$black3: rgb(111, 100, 95);
$blackNews: #1A191A;
$blue1: rgb(32, 42, 54);
$blue2: rgba(29, 91, 101,.9);
$blue3: rgb(73,117,123);
$blue4: rgba(6, 29, 20, 0.83);
$blue5: rgba(32, 42, 54, 0.95);
$bluelink: #0783AB;
$brown1: #633535;
$darkBrown1: #5d1b1b;
$dark1: rgb(48, 47, 60);
$darkBlue1: #404c5d;
$grey: #ddd;
$lightBrown1: #caa991;
$orange1: #ef7a16;
$orange2: #f36f12;
$white1: #f5f5f5;
$white2: #f7f7f7;
$white3: #f9f9f9;
$whiteOrange1: rgb(232, 224, 214);
$whiteOrange2: #f7e6cf;
